{% extends "base.html" %}
{% load static %}


{% block content %}

	<main id="content" class="neve-main">

<div class="container single-page-container">
	<div class="row">
				<div class="nv-single-page-wrap col">
			<div class="nv-content-wrap entry-content">
<div class="wp-block-cover alignfull" style="min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-nv-site-bg-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow"><div class="wp-block-group__inner-container">
<h1 class="has-text-align-left has-neve-text-color-color has-text-color wp-block-heading">My Account</h1>
</div>
</div>
</div>
</div>
</div>
</div>




<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>



<div class="wp-block-cover alignfull" style="min-height:600px"><span aria-hidden="true" class="wp-block-cover__background has-nv-dark-bg-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow"><div class="wp-block-group__inner-container">
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>



<div class="wp-block-columns is-layout-flex wp-container-14 wp-block-columns-is-layout-flex">
<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
<h2 class="has-nv-text-dark-bg-color has-text-color wp-block-heading" style="padding-left: 20px;"><b>Personal Info</b></h2>



<p class="has-white-color has-text-color"style="padding-left: 40px;"><b><u>Name:</u> </b> {{request.user.get_name}}</p>
<p class="has-white-color has-text-color"style="padding-left: 40px;"><b><u>Company name:</u></b>  {{request.user.company_name}}</p>
<p class="has-white-color has-text-color"style="padding-left: 40px;"><b><u>Work field:</u></b>  {{request.user.work_field}}</p>
<p class="has-white-color has-text-color"style="padding-left: 40px;"><b><u>Mobile no:</u></b>  {{request.user.phone}}</p>
<p class="has-white-color has-text-color"style="padding-left: 40px;"><b><u>E-mail:</u></b>  {{request.user.email}}</p>


</div>




<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
<div style="padding-left:20px; padding-right:20px;" id="wp-block-themeisle-blocks-form-5a53b94c" class="wp-block-themeisle-blocks-form" data-option-name="bf9b28ff82ce323187abc5d0feb0d8f07ecd8436_5a53b94c">
	
	<form method="POST" class="form form-short" style="width:100%;">

		{% csrf_token %}

		<div class="title">Message</div>


		<div class="input-container ic1">
			<textarea id="message" 
					name="message" 
					rows="4" 
					cols="26" 
					style="width:100%;"
					placeholder="wrie our message..."
			></textarea>
			
			{% for err in form.message.errors %}
				<p style="color:red;">{{err}}</p>
			{% endfor %}
		</div>

		<br>
		<br>

		<div class="input-container ic1">
			<button type="submit" class="submit">send</button>
			<br>
			<br>
			<br>
			<br>
			<p style="margin: auto; width: 60%; padding: 10px;"><b>Don't mind to message us for anything!</b></p>
		</div>

	</form>

</div>
</div>
</div>




{% comment %}  {% endcomment %}
<div class="container single-page-container" name="my_services" id="my_services">
	<div class="row">
		<div class="nv-single-page-wrap col">
			<div class="nv-content-wrap entry-content">
				<div class="wp-block-cover alignfull" style="min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-nv-site-bg-background-color has-background-dim-100 has-background-dim"></span>
					<div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
						<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
							<div class="wp-block-group__inner-container">
								<h1 class="has-text-align-center has-neve-text-color-color has-text-color wp-block-heading">Services</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




{% for service in services %}
<div class="wp-block-cover alignfull" style="min-height:100px; padding-left:20px; padding-right:20px;" >
	<span aria-hidden="true" class="wp-block-cover__background has-nv-light-bg-background-color has-background-dim-100 has-background-dim"></span>
	<div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
		<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow">
			<div class="wp-block-group__inner-container">
				<div style="height:80px" aria-hidden="true" class="wp-block-spacer">
				</div>	
				<div class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-9 wp-block-columns-is-layout-flex">
					<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:10%">
						<figure class="wp-block-image size-large">
							<img decoding="async" src="{{service.service.image.url}}" alt="" class="wp-image-37">
						</figure>
					</div>


					<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
						<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
						<h2 class="has-text-align-left has-neve-text-color-color has-text-color wp-block-heading">{{service.service.service_name}}</h2>
						<p class="has-text-align-left has-neve-text-color-color has-text-color" style="font-size:17px">{{service.service.details}}</p>
					</div>
				</div>
				<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
			</div>
		</div>
	</div>
</div>

<div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>

{% endfor %}




	<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>
</div></div>
</div>		</div>
			</div>
</div>





</main><!--/.neve-main-->



{% endblock content %}