
{% extends "base.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
	<main id="content" class="neve-main">

<div class="container single-page-container">
	<div class="row">
				<div class="nv-single-page-wrap col">
			<div class="nv-content-wrap entry-content">
<div class="wp-block-cover alignfull" style="min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-nv-site-bg-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow"><div class="wp-block-group__inner-container">
<h1 class="has-text-align-left has-neve-text-color-color has-text-color wp-block-heading">Service</h1>
</div></div>
</div></div>






<!--start -->
  
{% for list, num in new_object_list %}
		{% if num|divisibleby:"2" %}
			<div class="wp-block-cover alignfull" style="min-height:600px"><span aria-hidden="true" class="wp-block-cover__background has-nv-light-bg-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
		{% else %}
			<div class="wp-block-cover alignfull" style="min-height:600px"><span aria-hidden="true" class="wp-block-cover__background has-nv-site-bg-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
		{% endif %}

		<div class="wp-block-group is-layout-flow wp-block-group-is-layout-flow"><div class="wp-block-group__inner-container">
		<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
		<div class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-7 wp-block-columns-is-layout-flex">		

		{% for service in list %}
			
			<div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
				<figure class="wp-block-image size-large"><img decoding="async" src="{{service.image.url}}" alt="" class="wp-image-37"></figure>
				<h3 class="has-text-align-center has-neve-text-color-color has-text-color wp-block-heading">{{service.service_name}}</h3>
				<p class="has-text-align-center has-neve-text-color-color has-text-color">
					{{ service.details}}
				</p>

				{% if request.user.is_authenticated %}
					{% if  service in my_services %}
						<div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-3 wp-block-buttons-is-layout-flex">
							<div class="wp-block-button is-style-primary">
								<a class="wp-block-button__link">
									Added
								</a>
							</div>
						</div>
					{% else %}
						<div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-3 wp-block-buttons-is-layout-flex">
							<div class="wp-block-button is-style-primary">
								<a class="wp-block-button__link"
									onclick="add_to_cart(this)" 
									id="{{service.id}}"
									name="add"
								>
									Add
								</a>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-3 wp-block-buttons-is-layout-flex">
						<div class="wp-block-button is-style-primary">
							<a class="wp-block-button__link"
								onclick="add_to_cart(this)" 
								id="{{service.id}}"
								name="add"
							>
								Add
							</a>
						</div>
					</div>
				{% endif %}
				
				<div style="height:40px" aria-hidden="true" class="wp-block-spacer">
				</div>
			</div>
			

		{% endfor %}

		</div>
		<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
		</div></div>
		</div></div>


	{% endfor %}


<!--############################## -->


<div class="wp-block-cover alignfull" style="min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-nv-dark-bg-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>


<div class="wp-block-image is-style-rounded">
<figure class="aligncenter size-large is-resized"><img decoding="async" src="{% static 'wp-content/uploads/2020/12/neve-web-design-studio-03.1.jpg' %}" alt="" class="wp-image-215" width="80" height="80"></figure></div>


<p class="has-text-align-center has-nv-text-dark-bg-color has-text-color">“What is the point of being alive if you don’t at least <br>try to do something remarkable?”</p>



<p class="has-text-align-center has-nv-text-dark-bg-color has-text-color" style="font-size:14px">JANET MORRIS</p>



<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
</div></div>
</div>		</div>
			</div>
</div>

</main><!--/.neve-main-->

{% endblock content %}