
{% extends "base.html" %}
{% load static %}


{% block content %}

		 <main id="content" class="neve-main">
            <div class="container single-page-container">
               <div class="row">
                  <div class="nv-single-page-wrap col">
                     <div class="nv-page-title-wrap nv-big-title">
                        <div class="nv-page-title ">
                           <h1>{{object.service_name}}</h1>
                        </div>
                        <!--.nv-page-title-->
                     </div>
                     <!--.nv-page-title-wrap-->
                     <div class="nv-content-wrap entry-content">
                        <p>{{object.details}}</p>
                        

                        {% for  segment in object.segments.all %}
                           <div class="wp-block-columns alignfull is-layout-flex wp-container-6 wp-block-columns-is-layout-flex">
                           <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:50%">
                                 <div class="wp-block-cover is-light" style="min-height:600px">
                                    <span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim" style="background-color:#f6f6f6"></span>
                                    <div class="wp-block-cover__inner-container is-layout-flow wp-block-cover-is-layout-flow">
                                       <div class="wp-block-image">
                                          <figure class="aligncenter size-large">
                                             <img decoding="async" fetchpriority="high" width="1024" height="576" src="{{segment.image.url}}" alt="" class="wp-image-432" sizes="(max-width: 1024px) 100vw, 1024px">
                                             {% if segment.figcaption %}
                                                <figcaption class="wp-element-caption">{{segment.figcaption}}</figcaption>
                                             {% endif %}

                                          </figure>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="padding-top:1em;padding-right:1em;padding-bottom:1em;padding-left:1em">
                                 <div class="wp-block-columns is-layout-flex wp-container-4 wp-block-columns-is-layout-flex">
                                    <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow" style="flex-basis:320px">
                                       <p class="has-small-font-size" style="line-height:1.6"><strong>{{segment.title}}</strong></p>
                                       <p>{{segment.details}}</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {% endfor %}


                     </div>
                  </div>
               </div>
            </div>
         </main>
         <!--/.neve-main-->


{% endblock content %}