{% extends "base.html" %}

{% block content %}

	<main id="content" class="neve-main">

<div class="container single-page-container">
	<div class="row">
				<div class="nv-single-page-wrap col">
			<div class="nv-page-title-wrap nv-big-title">
	<div class="nv-page-title ">
				<h1>registered successfully</h1>
				<p>go to <a href="{% url 'user:login'%}">login</a></p>
					</div><!--.nv-page-title-->
</div> <!--.nv-page-title-wrap-->
	<div class="nv-content-wrap entry-content"><p></p>
</div>		</div>
			</div>
</div>

</main><!--/.neve-main-->

{% endblock content %}	
