{% extends "base.html" %}
{% load static %}



{% block content %}
	

	<main id="content" class="neve-main">

	<div class="login-box">
		<form method="POST" >

			{% csrf_token %}

			<div class="title">Ticket</div>
			<div class="subtitle">write your ticket!</div>


			<div class="user-box">
				<input id="company_name" name="company_name" class="input" type="text" placeholder=" " required/>
				<label for="company_name" >company name</label>
				{% for err in form.company_name.errors %}
					<p style="color:red;">{{err}}</p>
				{% endfor %}
			</div>

			<div class="user-box">
				<input id="work_field" name="work_field" class="input" type="text" placeholder=" " required/>
				<label for="work_field" >work field</label>
				{% for err in form.work_field.errors %}
					<p style="color:red;">{{err}}</p>
				{% endfor %}
			</div>

			<div class="user-box">
				<input id="problem_type" name="problem_type" class="input" type="text" placeholder=" " required/>
				<label for="problem_type" >problem type</label>
				{% for err in form.problem_type.errors %}
					<p style="color:red;">{{err}}</p>
				{% endfor %}
			</div>

			<div class="user-box">
				<input id="suitable_time" name="suitable_time" class="input" type="time" placeholder=" " />
				<label for="suitable_time" >suitable time</label>
				{% for err in form.suitable_time.errors %}
					<p style="color:red;">{{err}}</p>
				{% endfor %}
			</div>

			<div class="user-box">
				<label>message</label>
				<br>
				<br>
				<textarea id="message" name="message" rows="4" cols="30"></textarea>
				
				{% for err in form.message.errors %}
					<p style="color:red;">{{err}}</p>
				{% endfor %}
			</div>


			
			
			
			<button type="submit" class="submit">Apply</button>

		</form>
	</div>

</div>

</main><!--/.neve-main-->


{% endblock content %}